:host>>>.p-component {
    font-size: 14px;
}

:host>>>::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: opx;
}

:host>>>.p-datatable .p-datatable-tbody > tr > td {
    padding: .5rem .5rem;
}

:host>>>.p-inputtext {
    margin: 0;
    width: 100%;
}